:root { 
--gray_50_cc:#fdfcfccc; 
--gray_50_01:#fdfcfc; 
--black_900_0a:#0000000a; 
--gray_900_cc:#1e1e1ecc; 
--gray_900:#1e1e1e; 
--gray_50:#fcfcfc; 
--gray_900_19:#1e1e1e19; 
--red_100:#f4d4cc; 
--black_900_1e:#0000001e; 
--black_900_cc:#120301cc; 
--yellow_800:#f29c1f; 
--deep_orange_700:#ee3f24; 
--deep_orange_600:#ef4d23; 
--indigo_900:#302a79; 
--white_A700:#ffffff; 
}